<div class="footer-box">
    <div class="container">
        <footer class="py-3">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="#" class="nav-link px-2"><i class="fa-brands fa-youtube"></i></a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2"><i class="fa-brands fa-facebook"></i></a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2"><i class="fa-brands fa-instagram"></i></a></li>
            </ul>
            <p class="text-center">© Macbon Industries Since 1999</p>
            <p class="text-center text-muted" style="font-size: 13px">All Right Reserved !</p>
        </footer>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
    integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
    crossorigin="anonymous"></script>
<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
<script src="https://kit.fontawesome.com/9b1c5bc6c4.js" crossorigin="anonymous"></script>
<script>
    AOS.init({
        offset: 300,
        duration: 400
    })
</script>
</body>

</html>