<%- include("partials/header"); %>

<section id="products">
    <div class="row">
        <h1 class="text-center product-heading">Hydraulic Deep Draw Press</h1>
        <div class="col col-lg-6 product-customCol">
            <h2>Model 1</h2>
            <div class="product-img">
                <img src="img/HDDP-Modal-1.PNG">
            </div>
        </div>
        <div class="col col-lg-6 product-customCol">
            <div class="product-img">
                <img src="img/Product-img-1.PNG">
            </div>
        </div>
        <div class="col col-lg-6 col-md-6 product-customCol">
            <table class="table">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Unit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>All Cylinder Ton Capacity</td>
                        <td>90 Ton</td>
                    </tr>
                    <tr>
                        <td>Rating Working Pressure of Main Hydraulic Cylinder</td>
                        <td>180 Kg/cm2</td>
                    </tr>
                    <tr>
                        <td>Max. Working Pressure of All other Cylinder</td>
                        <td>200 Kg/cm2</td>
                    </tr>
                    <tr>
                        <td>Number of Cylinders</td>
                        <td>5 Nos</td>
                    </tr>
                    <tr>
                        <td>Power of Motor</td>
                        <td>15 Hp</td>
                    </tr>
                    <tr>
                        <td>Dimension of Working Table</td>
                        <td>25 X 25 mm2</td>
                    </tr>
                    <tr>
                        <td>Dimension of Machine (LRXFBXH)</td>
                        <td>978 x 635 x 2743 mm3</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col col-lg-6 col-md-6 product-customCol">
            <table class="table">   
                <thead>
                    <tr>
                        <th>Modal</th>
                        <th>Brand</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Motor</td>
                        <td>BBL/CROMPTON</td>
                    </tr>
                    <tr>
                        <td>Oil Pump</td>
                        <td>VELJAN DENISON</td>
                    </tr>
                    <tr>
                        <td>Solenoid Directional Valve</td>
                        <td>YUKEN INDIA</td>
                    </tr>
                    <tr>
                        <td>Other Valves</td>
                        <td>POLYHYDRON</td>
                    </tr>
                    <tr>
                        <td>Cartridge Valve System</td>
                        <td>POLYHYDRON</td>
                    </tr>
                    <tr>
                        <td>MCB</td>
                        <td>SIMMENS</td>
                    </tr>
                    <tr>
                        <td>Controller</td>
                        <td>SIMMENS</td>
                    </tr>
                    <tr>
                        <td>AC Contactor</td>
                        <td>SIMMENS</td>
                    </tr>
                    <tr>
                        <td>Seal Ring</td>
                        <td>INDIA</td>
                    </tr>
                    <tr>
                        <td>Time Relay</td>
                        <td>FELE</td>
                    </tr>
                    <tr>
                        <td>Light Certain</td>
                        <td>SCHNEIDER</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr style="width: 80%;">
        <div class="col col-lg-6 product-customCol">
            <h2>Model 2</h2>
            <div class="product-img">
                <img src="img/HDDP-Modal-2.PNG">
            </div>
        </div>
        <div class="col col-lg-6 product-customCol">
            <div class="product-img">
                <img src="img/Product-img-1.PNG">
            </div>
        </div>
        <div class="col col-lg-6 col-md-6 product-customCol">
            <table class="table">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Unit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>All Cylinder Ton Capacity</td>
                        <td>115 Ton</td>
                    </tr>
                    <tr>
                        <td>Rating Working Pressure of Main Hydraulic Cylinder</td>
                        <td>180 Kg/cm2</td>
                    </tr>
                    <tr>
                        <td>Max. Working Pressure of All other Cylinder</td>
                        <td>200 Kg/cm2</td>
                    </tr>
                    <tr>
                        <td>Number of Cylinders</td>
                        <td>5 Nos</td>
                    </tr>
                    <tr>
                        <td>Power of Motor</td>
                        <td>15 Hp</td>
                    </tr>
                    <tr>
                        <td>Dimension of Working Table</td>
                        <td>28 X 30 mm2</td>
                    </tr>
                    <tr>
                        <td>Dimension of Machine (LRXFBXH)</td>
                        <td>1054 x 711 x 3048 mm3</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col col-lg-6 col-md-6 product-customCol">
            <table class="table">   
                <thead>
                    <tr>
                        <th>Modal</th>
                        <th>Brand</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Motor</td>
                        <td>BBL/CROMPTON</td>
                    </tr>
                    <tr>
                        <td>Oil Pump</td>
                        <td>VELJAN DENISON</td>
                    </tr>
                    <tr>
                        <td>Solenoid Directional Valve</td>
                        <td>YUKEN INDIA</td>
                    </tr>
                    <tr>
                        <td>Other Valves</td>
                        <td>POLYHYDRON</td>
                    </tr>
                    <tr>
                        <td>Cartridge Valve System</td>
                        <td>POLYHYDRON</td>
                    </tr>
                    <tr>
                        <td>MCB</td>
                        <td>SIMMENS</td>
                    </tr>
                    <tr>
                        <td>Controller</td>
                        <td>SIMMENS</td>
                    </tr>
                    <tr>
                        <td>AC Contactor</td>
                        <td>SIMMENS</td>
                    </tr>
                    <tr>
                        <td>Seal Ring</td>
                        <td>INDIA</td>
                    </tr>
                    <tr>
                        <td>Time Relay</td>
                        <td>FELE</td>
                    </tr>
                    <tr>
                        <td>Light Certain</td>
                        <td>SCHNEIDER</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr style="width: 80%;">
        <div class="col col-lg-6 product-customCol">
            <h2>Model 3</h2>
            <div class="product-img">
                <img src="img/HDDP-Modal-3.PNG">
            </div>
        </div>
        <div class="col col-lg-6 product-customCol">
            <div class="product-img">
                <img src="img/Product-img-1.PNG">
            </div>
        </div>
        <div class="col col-lg-6 col-md-6 product-customCol">
            <table class="table">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Unit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>All Cylinder Ton Capacity</td>
                        <td>160 Ton</td>
                    </tr>
                    <tr>
                        <td>Rating Working Pressure of Main Hydraulic Cylinder</td>
                        <td>180 Kg/cm2</td>
                    </tr>
                    <tr>
                        <td>Max. Working Pressure of All other Cylinder</td>
                        <td>200 Kg/cm2</td>
                    </tr>
                    <tr>
                        <td>Number of Cylinders</td>
                        <td>5 Nos</td>
                    </tr>
                    <tr>
                        <td>Power of Motor</td>
                        <td>15 Hp</td>
                    </tr>
                    <tr>
                        <td>Dimension of Working Table</td>
                        <td>32 X 34 mm2</td>
                    </tr>
                    <tr>
                        <td>Dimension of Machine (LRXFBXH)</td>
                        <td>1168 x 812.8 x 3480 mm3</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col col-lg-6 col-md-6 product-customCol">
            <table class="table">   
                <thead>
                    <tr>
                        <th>Modal</th>
                        <th>Brand</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Motor</td>
                        <td>BBL/CROMPTON</td>
                    </tr>
                    <tr>
                        <td>Oil Pump</td>
                        <td>VELJAN DENISON</td>
                    </tr>
                    <tr>
                        <td>Solenoid Directional Valve</td>
                        <td>YUKEN INDIA</td>
                    </tr>
                    <tr>
                        <td>Other Valves</td>
                        <td>POLYHYDRON</td>
                    </tr>
                    <tr>
                        <td>Cartridge Valve System</td>
                        <td>POLYHYDRON</td>
                    </tr>
                    <tr>
                        <td>MCB</td>
                        <td>SIMMENS</td>
                    </tr>
                    <tr>
                        <td>Controller</td>
                        <td>SIMMENS</td>
                    </tr>
                    <tr>
                        <td>AC Contactor</td>
                        <td>SIMMENS</td>
                    </tr>
                    <tr>
                        <td>Seal Ring</td>
                        <td>INDIA</td>
                    </tr>
                    <tr>
                        <td>Time Relay</td>
                        <td>FELE</td>
                    </tr>
                    <tr>
                        <td>Light Certain</td>
                        <td>SCHNEIDER</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr style="width: 80%;">
        <div class="col col-lg-6 product-customCol">
            <h2>Model 4</h2>
            <div class="product-img">
                <img src="img/HDDP-Modal-4.PNG">
            </div>
        </div>
        <div class="col col-lg-6 product-customCol">
            <div class="product-img">
                <img src="img/Product-img-1.PNG">
            </div>
        </div>
        <div class="col col-lg-6 col-md-6 product-customCol">
            <table class="table">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Unit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>All Cylinder Ton Capacity</td>
                        <td>220 Ton</td>
                    </tr>
                    <tr>
                        <td>Rating Working Pressure of Main Hydraulic Cylinder</td>
                        <td>180 Kg/cm2</td>
                    </tr>
                    <tr>
                        <td>Max. Working Pressure of All other Cylinder</td>
                        <td>200 Kg/cm2</td>
                    </tr>
                    <tr>
                        <td>Number of Cylinders</td>
                        <td>5 Nos</td>
                    </tr>
                    <tr>
                        <td>Power of Motor</td>
                        <td>20 Hp</td>
                    </tr>
                    <tr>
                        <td>Dimension of Working Table</td>
                        <td>40 X 42 mm2</td>
                    </tr>
                    <tr>
                        <td>Dimension of Machine (LRXFBXH)</td>
                        <td>1321 x 1016 x 3988 mm3</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col col-lg-6 col-md-6 product-customCol">
            <table class="table">   
                <thead>
                    <tr>
                        <th>Modal</th>
                        <th>Brand</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Motor</td>
                        <td>BBL/CROMPTON</td>
                    </tr>
                    <tr>
                        <td>Oil Pump</td>
                        <td>VELJAN DENISON</td>
                    </tr>
                    <tr>
                        <td>Solenoid Directional Valve</td>
                        <td>YUKEN INDIA</td>
                    </tr>
                    <tr>
                        <td>Other Valves</td>
                        <td>POLYHYDRON</td>
                    </tr>
                    <tr>
                        <td>Cartridge Valve System</td>
                        <td>POLYHYDRON</td>
                    </tr>
                    <tr>
                        <td>MCB</td>
                        <td>SIMMENS</td>
                    </tr>
                    <tr>
                        <td>Controller</td>
                        <td>SIMMENS</td>
                    </tr>
                    <tr>
                        <td>AC Contactor</td>
                        <td>SIMMENS</td>
                    </tr>
                    <tr>
                        <td>Seal Ring</td>
                        <td>INDIA</td>
                    </tr>
                    <tr>
                        <td>Time Relay</td>
                        <td>FELE</td>
                    </tr>
                    <tr>
                        <td>Light Certain</td>
                        <td>SCHNEIDER</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr style="width: 80%;">
        <div class="col col-lg-6 product-customCol">
            <h2>Model 5</h2>
            <div class="product-img">
                <img src="img/HDDP-Modal-5.PNG">
            </div>
        </div>
        <div class="col col-lg-6 product-customCol">
            <div class="product-img">
                <img src="img/Product-img-1.PNG">
            </div>
        </div>
        <div class="col col-lg-6 col-md-6 product-customCol">
            <table class="table">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Unit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>All Cylinder Ton Capacity</td>
                        <td>220 Ton</td>
                    </tr>
                    <tr>
                        <td>Rating Working Pressure of Main Hydraulic Cylinder</td>
                        <td>180 Kg/cm2</td>
                    </tr>
                    <tr>
                        <td>Max. Working Pressure of All other Cylinder</td>
                        <td>200 Kg/cm2</td>
                    </tr>
                    <tr>
                        <td>Number of Cylinders</td>
                        <td>5 Nos</td>
                    </tr>
                    <tr>
                        <td>Power of Motor</td>
                        <td>25 Hp</td>
                    </tr>
                    <tr>
                        <td>Dimension of Working Table</td>
                        <td>46 X 46 mm2</td>
                    </tr>
                    <tr>
                        <td>Dimension of Machine (LRXFBXH)</td>
                        <td>1550 x 1168 x 4090 mm3</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col col-lg-6 col-md-6 product-customCol">
            <table class="table">   
                <thead>
                    <tr>
                        <th>Modal</th>
                        <th>Brand</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Motor</td>
                        <td>BBL/CROMPTON</td>
                    </tr>
                    <tr>
                        <td>Oil Pump</td>
                        <td>VELJAN DENISON</td>
                    </tr>
                    <tr>
                        <td>Solenoid Directional Valve</td>
                        <td>YUKEN INDIA</td>
                    </tr>
                    <tr>
                        <td>Other Valves</td>
                        <td>POLYHYDRON</td>
                    </tr>
                    <tr>
                        <td>Cartridge Valve System</td>
                        <td>POLYHYDRON</td>
                    </tr>
                    <tr>
                        <td>MCB</td>
                        <td>SIMMENS</td>
                    </tr>
                    <tr>
                        <td>Controller</td>
                        <td>SIMMENS</td>
                    </tr>
                    <tr>
                        <td>AC Contactor</td>
                        <td>SIMMENS</td>
                    </tr>
                    <tr>
                        <td>Seal Ring</td>
                        <td>INDIA</td>
                    </tr>
                    <tr>
                        <td>Time Relay</td>
                        <td>FELE</td>
                    </tr>
                    <tr>
                        <td>Light Certain</td>
                        <td>SCHNEIDER</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr style="width: 80%;">
        <div class="col col-lg-6 product-customCol">
            <h2>Model 6</h2>
            <div class="product-img">
                <img src="img/HDDP-Modal-6.PNG">
            </div>
        </div>
        <div class="col col-lg-6 product-customCol">
            <div class="product-img">
                <img src="img/Product-img-2.PNG">
            </div>
        </div>
        <div class="col col-lg-6 col-md-6 product-customCol">
            <table class="table">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Unit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>All Cylinder Ton Capacity</td>
                        <td>280 Ton</td>
                    </tr>
                    <tr>
                        <td>Rating Working Pressure of Main Hydraulic Cylinder</td>
                        <td>180 Kg/cm2</td>
                    </tr>
                    <tr>
                        <td>Max. Working Pressure of All other Cylinder</td>
                        <td>200 Kg/cm2</td>
                    </tr>
                    <tr>
                        <td>Number of Cylinders</td>
                        <td>7 Nos</td>
                    </tr>
                    <tr>
                        <td>Power of Motor</td>
                        <td>30 Hp</td>
                    </tr>
                    <tr>
                        <td>Dimension of Working Table</td>
                        <td>56 X 58 mm2</td>
                    </tr>
                    <tr>
                        <td>Dimension of Machine (LRXFBXH)</td>
                        <td>1880 x 1422 x 4521 mm3</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col col-lg-6 col-md-6 product-customCol">
            <table class="table">   
                <thead>
                    <tr>
                        <th>Modal</th>
                        <th>Brand</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Motor</td>
                        <td>BBL/CROMPTON</td>
                    </tr>
                    <tr>
                        <td>Oil Pump</td>
                        <td>VELJAN DENISON</td>
                    </tr>
                    <tr>
                        <td>Solenoid Directional Valve</td>
                        <td>YUKEN INDIA</td>
                    </tr>
                    <tr>
                        <td>Other Valves</td>
                        <td>POLYHYDRON</td>
                    </tr>
                    <tr>
                        <td>Cartridge Valve System</td>
                        <td>POLYHYDRON</td>
                    </tr>
                    <tr>
                        <td>MCB</td>
                        <td>SIMMENS</td>
                    </tr>
                    <tr>
                        <td>Controller</td>
                        <td>SIMMENS</td>
                    </tr>
                    <tr>
                        <td>AC Contactor</td>
                        <td>SIMMENS</td>
                    </tr>
                    <tr>
                        <td>Seal Ring</td>
                        <td>INDIA</td>
                    </tr>
                    <tr>
                        <td>Time Relay</td>
                        <td>FELE</td>
                    </tr>
                    <tr>
                        <td>Light Certain</td>
                        <td>SCHNEIDER</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr style="width: 80%;">
        <div class="col col-lg-6 product-customCol">
            <h2>Model 7</h2>
            <div class="product-img">
                <img src="img/HDDP-Modal-7.PNG">
            </div>
        </div>
        <div class="col col-lg-6 product-customCol">
            <div class="product-img">
                <img src="img/Product-img-2.PNG">
            </div>
        </div>
        <div class="col col-lg-6 col-md-6 product-customCol">
            <table class="table">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Unit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>All Cylinder Ton Capacity</td>
                        <td>340 Ton</td>
                    </tr>
                    <tr>
                        <td>Rating Working Pressure of Main Hydraulic Cylinder</td>
                        <td>180 Kg/cm2</td>
                    </tr>
                    <tr>
                        <td>Max. Working Pressure of All other Cylinder</td>
                        <td>200 Kg/cm2</td>
                    </tr>
                    <tr>
                        <td>Number of Cylinders</td>
                        <td>7 Nos</td>
                    </tr>
                    <tr>
                        <td>Power of Motor</td>
                        <td>30 Hp</td>
                    </tr>
                    <tr>
                        <td>Dimension of Working Table</td>
                        <td>64 X 66 mm2</td>
                    </tr>
                    <tr>
                        <td>Dimension of Machine (LRXFBXH)</td>
                        <td>2108 x 165 x 4522 mm3</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col col-lg-6 col-md-6 product-customCol">
            <table class="table">   
                <thead>
                    <tr>
                        <th>Modal</th>
                        <th>Brand</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Motor</td>
                        <td>BBL/CROMPTON</td>
                    </tr>
                    <tr>
                        <td>Oil Pump</td>
                        <td>VELJAN DENISON</td>
                    </tr>
                    <tr>
                        <td>Solenoid Directional Valve</td>
                        <td>YUKEN INDIA</td>
                    </tr>
                    <tr>
                        <td>Other Valves</td>
                        <td>POLYHYDRON</td>
                    </tr>
                    <tr>
                        <td>Cartridge Valve System</td>
                        <td>POLYHYDRON</td>
                    </tr>
                    <tr>
                        <td>MCB</td>
                        <td>SIMMENS</td>
                    </tr>
                    <tr>
                        <td>Controller</td>
                        <td>SIMMENS</td>
                    </tr>
                    <tr>
                        <td>AC Contactor</td>
                        <td>SIMMENS</td>
                    </tr>
                    <tr>
                        <td>Seal Ring</td>
                        <td>INDIA</td>
                    </tr>
                    <tr>
                        <td>Time Relay</td>
                        <td>FELE</td>
                    </tr>
                    <tr>
                        <td>Light Certain</td>
                        <td>SCHNEIDER</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr style="width: 80%;">
        <div class="col col-lg-6 product-customCol">
            <h2>Model 8</h2>
            <div class="product-img">
                <img src="img/HDDP-Modal-8.PNG">
            </div>
        </div>
        <div class="col col-lg-6 product-customCol">
            <div class="product-img">
                <img src="img/Product-img-2.PNG">
            </div>
        </div>
        <div class="col col-lg-6 col-md-6 product-customCol">
            <table class="table">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Unit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Rating Working Pressure of Main Hydraulic Cylinder</td>
                        <td>180 Kg/cm2</td>
                    </tr>
                    <tr>
                        <td>Max. Working Pressure of All other Cylinder</td>
                        <td>200 Kg/cm2</td>
                    </tr>
                    <tr>
                        <td>Number of Cylinders</td>
                        <td>7 Nos</td>
                    </tr>
                    <tr>
                        <td>Power of Motor</td>
                        <td>30 Hp</td>
                    </tr>
                    <tr>
                        <td>Dimension of Working Table</td>
                        <td>76" X 78" mm2</td>
                    </tr>
                    <tr>
                        <td>Circle Size</td>
                        <td>60" X 72"</td>
                    </tr>
                    <tr>
                        <td>Dimension of Machine (LRXFBXH)</td>
                        <td>978 X 635 x 2745 mm3</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col col-lg-6 col-md-6 product-customCol">
            <table class="table">   
                <thead>
                    <tr>
                        <th>Modal</th>
                        <th>Brand</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Motor</td>
                        <td>BBL/CROMPTON</td>
                    </tr>
                    <tr>
                        <td>Oil Pump</td>
                        <td>VELJAN DENISON</td>
                    </tr>
                    <tr>
                        <td>Solenoid Directional Valve</td>
                        <td>YUKEN INDIA</td>
                    </tr>
                    <tr>
                        <td>Other Valves</td>
                        <td>POLYHYDRON</td>
                    </tr>
                    <tr>
                        <td>Cartridge Valve System</td>
                        <td>POLYHYDRON</td>
                    </tr>
                    <tr>
                        <td>MCB</td>
                        <td>SIMMENS</td>
                    </tr>
                    <tr>
                        <td>Controller</td>
                        <td>SIMMENS</td>
                    </tr>
                    <tr>
                        <td>AC Contactor</td>
                        <td>SIMMENS</td>
                    </tr>
                    <tr>
                        <td>Seal Ring</td>
                        <td>INDIA</td>
                    </tr>
                    <tr>
                        <td>Time Relay</td>
                        <td>FELE</td>
                    </tr>
                    <tr>
                        <td>Light Certain</td>
                        <td>SCHNEIDER</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr style="width: 80%;">
    </div>
</section>

<%- include("partials/footer"); %>