<%- include("partials/header"); %>

<section id="products">
    <div class="row">
        <h1 class="text-center product-heading">Hydraulic Deep Draw Press</h1>
        <div class="col col-lg-12">
            <div class="product-img">
                <img src="img/Product-img-1.PNG">
            </div>
        </div>
        <div class="col col-lg-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Unit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>All Cylinder Ton Capacity</td>
                        <td>90 Ton</td>
                    </tr>
                    <tr>
                        <td>Rating Working Pressure of Main Hydraulic Cylinder</td>
                        <td>180 Kg/cm2</td>
                    </tr>
                    <tr>
                        <td>Max. Working Pressure of All other Cylinder</td>
                        <td>200 Kg/cm2</td>
                    </tr>
                    <tr>
                        <td>Number of Cylinders</td>
                        <td>5 Nos</td>
                    </tr>
                    <tr>
                        <td>Power of Motor</td>
                        <td>15 Hp</td>
                    </tr>
                    <tr>
                        <td>Dimension of Working Table</td>
                        <td>25 X 25 mm2</td>
                    </tr>
                    <tr>
                        <td>Dimension of Machine (LRXFBXH)</td>
                        <td>978 x 635 x 2743 mm3</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col col-lg-6">
        </div>
    </div>
</section>

<%- include("partials/footer"); %>