@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

body {
  font-family: "Play", sans-serif;
  margin-top: 8rem !important;
}

h1 {
  font-size: 4rem !important;
  text-transform: uppercase;
}

h2 {
  font-size: 1rem;
}

#home {
  margin-top: 3rem;
}

.navbar {
  margin: 0;
  padding: 0 !important;
  font-family: "Play", sans-serif;
  z-index: 1;
  border: none;
  box-shadow: 0 8px 15px -6px grey;
  position: fixed !important;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 2;
}

.navbar-logo {
  width: 250px;
}

.nav-btn {
  border: none;
  background: none;
}

.dropdown{
  transition: all .7s;
}

.dropdown-menu {
  width: 220px;
}

.dropdown .dropdown-menu{
  display: none;
}

.dropdown:hover > .dropdown-menu,
.dropstart:hover > .dropdown-menu {
  display: block;
  margin-top: 0.125em;
  margin-left: 0.125em;
}

.dropstart:hover > .dropdown-menu {
  position: absolute;
  top: 0;
  right: 100%;
}

.dropdown-item {
  white-space: inherit !important;
}

.dropdown-divider{
  margin: 10px !important;
  /* width: 80%; */
}

.logo-heading {
  font-size: 2rem;
  color: white;
  /* font-weight: 700; */
  margin-left: 10px;
  font-family: "Monoton", cursive;
  text-transform: uppercase;
}

.carousel {
  top: 0;
  height: 600px;
  width: 100%;
  background: black;
}

.carousel-image {
  height: 600px;
  opacity: 0.4;
}

.animatedDown {
  position: relative;
  animation: fadeDown;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    top: -500px;
  }
  60% {
    top: 20px;
  }
  80% {
    top: -20px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

.animatedUp {
  position: relative;
  animation: fadeUp;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    top: 500px;
  }
  60% {
    top: -20px;
  }
  80% {
    top: 20px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

.carousel-caption {
  bottom: 150px !important;
  font-family: "Play", sans-serif;
}

.carousel-caption h5 {
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
}

.carousel-caption p {
  width: 60%;
  margin: auto;
  margin-top: 2rem;
  font-size: 25px;
  line-height: 1.9;
}

.nav-link-color {
  display: block;
  color: black;
  font-size: 18px;
  padding: 0 10px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.nav-link-color:hover {
  color: #ee3b24;
}

/* CSS for about page  */

#about {
  font-family: "Play", sans-serif;
  padding: 2% 5px !important;
  background-color: white;
  overflow: hidden;
}

.about-header h1,
h2 {
  font-family: "Play", sans-serif;
}

.about-header h1 {
  color: #ee3b24;
  font-weight: bold;
}

.about-container {
  padding: 1%;
}

.row-alignment {
  background: white;
  margin: 70px 0px;
  padding: 30px 10px;
  border-radius: 10px;
  box-shadow: rgb(50 50 93 / 15%) 0px 10px 65px -19px,
    rgb(0 0 0 / 15%) 0px 37px 60px -62px,
    rgb(10 37 64 / 15%) 0px -2px 6px 0px inset;
}

.col-setup {
  background-color: #ee3b24;
  color: white;
  border-radius: 6px;
  margin: 20px;
  padding: 5px 30px;
  box-shadow: 2px 2px 10px grey;
}

.col-setup h3 {
  font-weight: bold;
}

.col-img {
  width: 450px;
  height: 350px;
  /* border-radius: 25px; */
  display: block;
  margin: auto;
  /* border: 5px solid #ee3b24; */
}

/* Css for Product page  */
#products{
  overflow: hidden;
}

/* 1: 1515 2: 2020 */
/* HBP = 3 product, HDDPSAP = 2 p, HPARM = p, MTM = p, PPM = p */
#products .row {
  margin: 0;
}

.product-heading {
  color: #ee3b24;
  font-weight: bold;
  margin: 3rem 0 !important;
  font-family: "Play", sans-serif;
  letter-spacing: 2px;
}

.product-img img {
  max-width: 500px;
}

.product-customCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table {
  border: 2px solid black;
  margin: 2rem 0;
}

hr{
    width: 80%;
    margin: 2rem auto !important;
}


/* Css for Footer  */

.footer-box {
  margin-top: 3rem;
  box-shadow: 8px 0 15px -6px grey;
}

.fa-brands {
  font-size: 2rem;
  margin: 0 20px;
  filter: grayscale(1);
}

@media (max-width: 990px){
  .navbar-nav{
    text-align: center;
  }
  .dropdown{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
