<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- For custom css -->
    <link rel="stylesheet" href="css/style.css">

    <!-- For Bootstrap  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <title>Macbon Industries</title>
</head>

<body>
    <div id="preloader">
        <span></span>
        <span></span>
    </div>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">
                <img src="img/macbon-logo.png" class="navbar-logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <div class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link-color autoClose" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link-color autoClose" href="/#about">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link-color autoClose" href="/gallery">Gallery</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link-color dropdown-toggle" data-bs-toggle="dropdown" role="button"
                            aria-expanded="false" href="/products">Products</a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li class="nav-item dropstart">
                                <a class="dropdown-item dropdown-toggle" href="#" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">Hydraulic Deep Draw Press</a>
                                <ul class="dropdown-menu dropdown-menu-dark custom-drop-down">
                                    <li><a href="/products#HDDP-model-1" class="dropdown-item autoClose">MI18AL</a></li>
                                    <li><a href="/products#HDDP-model-2" class="dropdown-item autoClose">MI24AL</a></li>
                                    <li><a href="/products#HDDP-model-3" class="dropdown-item autoClose">MI28AL</a></li>
                                    <li><a href="/products#HDDP-model-4" class="dropdown-item autoClose">MI36AL</a></li>
                                    <li><a href="/products#HDDP-model-5" class="dropdown-item autoClose">MI42AL</a></li>
                                    <li><a href="/products#HDDP-model-6" class="dropdown-item autoClose">MI52AL</a></li>
                                    <li><a href="/products#HDDP-model-7" class="dropdown-item autoClose">MI60AL</a></li>
                                    <li><a href="/products#HDDP-model-8" class="dropdown-item autoClose">MI72AL</a></li>
                                </ul>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li class="nav-item dropstart">
                                <a class="dropdown-item dropdown-toggle" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Hydraulic Bailling Press</a>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><a href="/products#HBP-model-1" class="dropdown-item autoClose">MIBP1515</a></li>
                                    <li><a href="/products#HBP-model-2" class="dropdown-item autoClose">MIBP1824</a></li>
                                    <li><a href="/products#HBP-model-3" class="dropdown-item autoClose">MIBP2020</a></li>
                                </ul>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li class="nav-item dropstart">
                                <a class="dropdown-item dropdown-toggle" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Hydraulic Deep Draw Press Single Action</a>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><a href="/products#HDDSAP-model-1" class="dropdown-item autoClose">MISASS12</a></li>
                                    <li><a href="/products#HDDSAP-model-2" class="dropdown-item autoClose">MISASS18</a></li>
                                </ul>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item autoClose" href="/products#HPARM-model-1">Hydraulic Punching And Riveting Machine</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item autoClose" href="/products#MTM-model-1">Mechanical Trimming Machine</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item autoClose" href="/products#PPM-model-1">Pneumatic Polishing Machine</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link-color autoClose" href="/#contact">Contact</a>
                    </li>
                </div>
            </div>
        </div>
    </nav>